.background-video {
    filter: brightness(80%) blur(2px);
    position: absolute;
    height: 105%;
    width: 105%;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (max-width: 425px) {
    #Home aside, #Home article {
        display: flex ;
        flex-direction: column;
        align-items: center !important;
        margin:0px !important;
    }
    #Home article{
        text-align: center;
    }
    #Home form {
        width: 80% !important;
    }
    #Home form .card-body {
        display: none;
    }
    #Home form:hover .card-body {
        display: block;
    }
}
